.appBar {
    align-items: center;
    display: flex;
    justify-content: space-between;

    border-radius: 15px;
    font-family: "Roboto";
    padding: 22px;
    max-width: 638px;
    margin: 0 auto;
    width: 100%;

    &.lightAppBar {
        background-color: #F3F3F3;
        transition: all .8s ease;
    }

    &.darkAppBar {
        background: rgba(218, 220, 224, 0.03);
        transition: all .8s ease;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        .iconBtn {
            font-size: 27px;
            
            &.lightBtn {
                color: #818181;
            }

            &.darkBtn {
                color: #DADCE0;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        letter-spacing: 0.075em;

        &.lightTitle {
            color: #DADCE0;
        }

        &.darkTitle {
            color: #202537;
        }
    }

    &__score {

        button {
            .iconBtn {
                font-size: 27px;
                
                &.lightBtn {
                    color: rgba(0, 0, 0, 0.49);
                }
    
                &.darkBtn {
                    color: #fff;
                }
            }
        }
        
    }
}