.keyboard {
    background: rgba(218, 220, 224, 0.3);
    border-radius: 15px;
    font-family: 'Roboto';
    padding: 33px 37px 33px 0;
    width: 638px;

    button {
        background: #D3D6DA;
        border: none;
        border-radius: 5px;
        color: #56575E;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
        width: 44.67px;
        height: 51.05px;

        &:disabled {
            cursor: auto;
        }
    }

    &__firstRow,
    &__secondRow,
    &__thirdRow {
        display: flex;
        gap: 9.5px;
        margin-bottom: 9px;
    }

    &__firstRow {
        margin-left: 52.6px;
    }

    &__secondRow {
        margin-left: 68px;
    }

    &__thirdRow {
        margin-left: 20px;

        .clearKey,
        .enterKey {
            width: 71.78px;
        }

        .enterKey {
            font-size: 15px;
        }

        .clearKey {
            align-items: center;
            display: flex;
            justify-content: center;

            svg {
                font-size: 22px;
            }
        }
    }
}